<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Unit">
      <file>tests/DeviceDetectionTests.php</file>
      <file>tests/ExampleTests.php</file>
      <file>tests/ExampleWebTests.php</file>
      <file>tests/UACHHashTests.php</file>
    </testsuite>
  </testsuites>
</phpunit>
